@import url(bootstrap.min.css);
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://bit.ly/2MJw4I0");
    color: black;
    height: 100vh;
}

#output {
    color: red;
}

h1 {
    color: pink;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poller One', cursive;
}

p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.jumbotron {
    height: 30px;
    width: 600px;
    margin: 0 auto;
    background-color: darkblue;
}

h2 {
    font-size: 40px;
    color: white;
    text-align: center;
}

label {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 90%;
    padding: 1%;
    font-size: 30px;
}

.radio {
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
}

.gen {
    color: white;
    font-size: 30px;
    text-align: center;
}

.btn-primary {
    width: 20%
}