@import url(bootstrap.min.css);
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://bit.ly/368BunQ");
    color: black;
    height: 100vh;
}

h1 {
    color: pink;
    font-size: 60px;
}

p {
    font-size: 40px;
    color: white;
    text-align: center;
}

.jumbotron {
    height: 40px;
    width: 600px;
    margin: 0 auto;
    background-color: darkblue;
}

h2 {
    font-size: 50px;
    color: darkblue;
    text-align: center;
}

label {
    color: black;
    font-weight: bold;
    text-align: center;
    width: 90%;
    padding: 1%;
    font-size: 20px;
}